:root{
    --menu-list-width: 30rem;
}

body{
    background-color: #141414;
    margin: 0;
    font-family: sans-serif;
    color: whitesmoke;
}

#decoration-circle{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px solid #FA2FBD;
    position: absolute;
    top: 20%;
    left: 60%;
    box-shadow: 2px 5px 20px #FA2FBD;
}

#decoration-circle2{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px solid #ED0800;
    position: absolute;
    top: 55%;
    left: 40%;
    box-shadow: 2px 5px 20px #ED0800;
}

#decoration-square{
    height: 7rem;
    width: 7rem;
    border: 2px solid #FFF67D;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: rotate(25deg);
    box-shadow: 2px 5px 20px #FFF67D;
}

#decoration-square2{
    height: 7rem;
    width: 7rem;
    border: 2px solid #00C8F0;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: rotate(-35deg);
    box-shadow: 2px 5px 20px #00C8F0;
}


#menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    height:2rem;
    width:2.5rem;
    top:1rem;
    right: 1rem;
    /* background-color: red; */
    /* display: none; */
    transition: all .5s ease-in-out;
}

#hamburger{
    position: sticky;
    z-index: 2000;
}

#hamburger > input{
    display: none;
}

#hamburger > input, #hamburger > label{
    position: absolute;
    top:1rem;
    right: 1rem;
    z-index: 100;
    padding: 2rem;
    margin: 0;
    cursor: pointer;
    z-index: 2000;
}

#menu-list{
    display: flex;
    /* background-color: red; */
    height: 90vh;
    width:0;
    position: absolute;
    right:0;
    top:5rem;
    padding: 0;
    overflow: hidden;
    transition: width 500ms;
    z-index: 2000;
}

#menu > span{
    background-color: whitesmoke;
    height: 2px;
    width: 100%;
    z-index: 1000;
    transition: all .5s ease-in-out;
}

#menu-list > ul{
    list-style-type:none;
    margin-bottom : 2rem;
}

#list-text{
    text-decoration: none;
    color: whitesmoke;
    font-size: 4rem;
    line-height: 10rem;
    padding: 3rem;
}

#border-bottom{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    position: absolute;
    left: 10%;
    right: 10%;
}

#menu-opacity{
    position: absolute;
    height: 100vh;
    width: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 50%);
}

#intro-text{
    /* background-color: red; */
    position: absolute;
    top: 40vh;
    left: 15vh;
}

/* #line1{
    transform: translateX(-50px);
    background: transparent;
}

#line2{
    transform: rotate(45deg) translate(5px, 5px);
}

#line3{
    transform: rotate(-45deg) translate(10px, 10px);
} */