html{
    scroll-behavior: smooth;
}

body{
    background-color: #141414;
    margin: 0;
    font-family: sans-serif;
    color: whitesmoke;
    overflow-x: hidden;
}

:root{
    --menu-list-width: 30rem;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
  }
  
  .fade-in.appear {
    opacity: 1;
  }

  .from-left {
    transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .from-right {
    transform: translateX(50%);
    transform: translateX(50%);
  }
  
  .from-left,
  .from-right {
    transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    transition: opacity 250ms ease-in, transform 400ms ease-in,
      transform 400ms ease-in;
    opacity: 0;
  }
  
  .from-left.appear,
  .from-right.appear {
    transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }





#code-font{
    font-family: 'Inconsolata', monospace;
    font-size: 32px;
    font-weight: 100;
}

header{
    height: 5rem;
}

#startsida{
    margin-top: 5rem;
    height: 85vh;
    width: 100%;
    /* background-color: red; */
    transition: all .5s ease-in-out;
}

#om-mig, #utbildning, #portfolio, #erfarenhet, #kontakta-mig{
    height: 70vh;
    /* background-color: blue; */
    position: relative;
    left: 15vh;
    right: 15vh;
    max-width: 100rem;
    /* border: 2px solid red; */
    margin-bottom: 6rem;
}

#utbildning{
    height: auto;
}




#decoration-circle{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px solid #FA2FBD;
    position: relative;
    margin-top: 0;
    margin-left: 70%;
    box-shadow: 2px 5px 20px #FA2FBD;
}

#decoration-circle::before{
    content: '';
    position: absolute;
    background: #FA2FBD;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(5rem) rotateX(40deg) scale(1, 0.75);
    filter: blur(1.5rem);
}

#decoration-circle2{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px solid #ED0800;
    position: relative;
    margin-top: 0;
    margin-left: 70%;
    box-shadow: 2px 5px 20px #ED0800;
}

#decoration-circle2::before{
    content: '';
    position: absolute;
    background: #ED0800;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(5rem) rotateX(40deg) scale(1, 0.75);
    filter: blur(1.5rem);
}

#decoration-square{
    height: 7rem;
    width: 7rem;
    border: 2px solid #FFF67D;
    position: relative;
    margin-top: 5%;
    margin-left: 70%;
    transform: rotate(25deg);
    box-shadow: 2px 5px 20px #FFF67D;
}

#decoration-square::before{
    content: '';
    position: absolute;
    background: #FFF67D;
    top: 80%;
    left: 10%;
    width: 100%;
    height: 100%;

    transform: perspective(5rem) rotateX(65deg) rotateY(-20deg) scale(1, 0.70);
    filter: blur(1.5rem);
}

#decoration-square2{
    height: 7rem;
    width: 7rem;
    border: 2px solid #00C8F0;
    position: relative;
    margin-top: 5%;
    margin-left: 70%;
    transform: rotate(-35deg);
    box-shadow: 2px 5px 20px #00C8F0;
}

#decoration-square2::before{
    content: '';
    position: absolute;
    background: #00C8F0;
    top: 60%;
    left: -60%;
    width: 100%;
    height: 100%;

    transform: perspective(5rem) rotateX(65deg) rotateY(35deg) scale(1, 0.75);
    filter: blur(1.5rem);
}

#decoration-square3{
    height: 7rem;
    width: 7rem;
    border: 2px solid #005f0d;
    position: relative;
    margin-top: 5%;
    margin-left: 70%;
    transform: rotate(-35deg);
    box-shadow: 2px 5px 20px #005f0d;
}

#decoration-square3::before{
    content: '';
    position: absolute;
    background: #005f0d;
    top: 60%;
    left: -60%;
    width: 100%;
    height: 100%;

    transform: perspective(5rem) rotateX(65deg) rotateY(35deg) scale(1, 0.75);
    filter: blur(1.5rem);
}

#menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    height:2rem;
    width:2.5rem;
    top:1rem;
    right: 1rem;
    /* background-color: red; */
    /* display: none; */
    transition: all .5s ease-in-out;
}

#hamburger{
    position: sticky;
    z-index: 2000;
}

#hamburger > input{
    display: none;
}

#hamburger > input, #hamburger > label{
    position: absolute;
    top:1rem;
    right: 1rem;
    z-index: 100;
    padding: 2rem;
    margin: 0;
    cursor: pointer;
    z-index: 2000;
}

#menu-list{
    display: flex;
    /* background-color: red; */
    height: 90vh;
    width:0;
    position: absolute;
    right:0;
    top:5rem;
    padding: 0;
    overflow: hidden;
    transition: width 500ms;
    z-index: 2000;
}

#menu > span{
    background-color: whitesmoke;
    height: 2px;
    width: 100%;
    z-index: 1000;
    transition: all .5s ease-in-out;
}

#menu-list > ul{
    list-style-type:none;
    margin-bottom : 2rem;
}

#list-text{
    text-decoration: none;
    color: whitesmoke;
    font-size: 4rem;
    line-height: 10rem;
    padding: 3rem;
}

#border-bottom{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    position: absolute;
    left: 10%;
    right: 10%;
}

#menu-opacity{
    position: absolute;
    height: 100%;
    width: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 50%);
}

#intro-text{
    /* background-color: red; */
    position: absolute;
    top: 40vh;
    left: 15vh;
    right: 15vh;
}

form{
    background: #292929;
    height: 20rem;
    position: relative;
}

input{
    padding: 1rem;
    background: none;
    border: none;
    outline: none;
    color: whitesmoke;
    font-size:large;
    border-bottom: 2px solid grey;
}

input:focus{
    border-bottom: 2px solid white;
}

/* #email > input{
    padding: 15rem;
} */

#för-efternamn-email{
    /* background: red; */
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
}

#meddelande{
    height:10rem;
    position: absolute;
    left: 10rem;
    bottom: 0;
    /* background: blue; */
}

#meddelande-input{
    background: none;
    border: none;
    outline: none;
    color: whitesmoke;
    font-size:large;
    border-bottom: 2px solid grey;
    resize: none;
    font-family: sans-serif;
}

#meddelande-input:focus{
    border-bottom: 2px solid white;
}

#button{
    position: absolute;
    right:10rem;
    bottom:3rem;
}

#kontakt-h2{
    display: none;
}

#submitted{
    /* background: red;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px){
    #om-mig, #utbildning, #portfolio, #erfarenhet, #kontakta-mig{
        left: 0vh;
        max-width: 80rem;
        overflow: hidden;
        margin-bottom: 6rem;
    }

    #om-mig > p, #utbildning > p, #portfolio > p, #erfarenhet > p, #kontakta-mig > p{
        margin-left: 5vh;
    }

    #om-mig > h1, #utbildning > h1, #portfolio > h1, #erfarenhet > h1, #kontakta-mig > h1{
        margin-left: 5vh;
    }

    #utbildning > img{
        margin-left: 5vh;
    }
}

@media (max-width: 1024px){
    #meddelande{
        left: 0;
    }

    #button{
        right:3rem;
    }
}

@media (max-width: 768px){

    #för-efternamn-email{
        flex-direction: column;
        justify-content: center;
        margin-top: 10rem;
        height: fit-content;
        gap: 3rem;
    }

    #förnamn{
        margin-left: 50%;
        transform: translateX(-50%);
    }

    #efternamn{
        margin-left: 49%;
        transform: translateX(-50%);
    }

    #email{
        margin-left: 52%;
        transform: translateX(-50%);
    }

    #kontakta-mig{
        height:120vh;
    }
    #meddelande{
        margin-left: 2rem;
        top: 20rem;
    }
    #button{
        bottom: 3rem;
    }
    form{
        min-height: 30rem;
    }
}

@media (max-width: 480px){
    form{
        min-height: 40rem;
    }

    #button{
        left: 50%;
        transform: translateX(-50%);
    }

    #meddelande{
        top: 25rem;
        margin: 0;
    }

    #MIlogo{
        width: 20rem;
        margin:0 !important;
    }

    #startsida-h1{
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        min-width: 80vw;
    }

    #menu-opacity{
        background-color: rgba(0, 0, 0, 100%);
    }

    footer{
        background: red;
    }
}