:root{
    --menu-list-width: 30rem;
}

body{
    background-color: #141414;
    margin: 0;
    font-family: sans-serif;
    color: whitesmoke;
}

#decoration-circle{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px solid #FA2FBD;
    position: absolute;
    top: 20%;
    left: 60%;
    box-shadow: 2px 5px 20px #FA2FBD;
}

#decoration-circle2{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px solid #ED0800;
    position: absolute;
    top: 55%;
    left: 40%;
    box-shadow: 2px 5px 20px #ED0800;
}

#decoration-square{
    height: 7rem;
    width: 7rem;
    border: 2px solid #FFF67D;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: rotate(25deg);
    box-shadow: 2px 5px 20px #FFF67D;
}

#decoration-square2{
    height: 7rem;
    width: 7rem;
    border: 2px solid #00C8F0;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: rotate(-35deg);
    box-shadow: 2px 5px 20px #00C8F0;
}


/* #menu{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height:5rem;
    width:5rem;
    cursor: pointer;
    border: 3px solid #fff;
    transition: all .5s ease-in-out;
} */

/* #hamburger{
    position: sticky;
    z-index: 2000;
} */

/* #hamburger > input{
    display: none;
}

#hamburger > input, #hamburger > label{
    position: absolute;
    top:1rem;
    right: 1rem;
    z-index: 100;
    padding: 2rem;
    margin: 0;
    cursor: pointer;
    z-index: 2000;
} */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

/* #line{
    background-color: whitesmoke;
    height: 6px;
    width: 50px;
    z-index: 1000;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}

 #line::before,
 #line::after{
    background-color: whitesmoke;
    height: 6px;
    width: 50px;
    z-index: 1000;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}

#line::before{
    transform: translateY(-16px);
}

#line::after{
    transform: translateY(16px);
} */

/* #menu-list > ul{
    list-style-type:none;
    margin-bottom : 2rem;
}

#list-text{
    text-decoration: none;
    color: whitesmoke;
    font-size: 4rem;
    line-height: 10rem;
    padding: 3rem;
}

#border-bottom{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    position: absolute;
    left: 10%;
    right: 10%;
}

#menu-opacity{
    position: absolute;
    height: 100vh;
    width: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 50%);
} */

#intro-text{
    /* background-color: red; */
    position: absolute;
    top: 40vh;
    left: 15vh;
}

/* #line1{
    transform: translateX(-50px);
    background: transparent;
}

#line2{
    transform: rotate(45deg) translate(5px, 5px);
}

#line3{
    transform: rotate(-45deg) translate(10px, 10px);
} */